.category{
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 20px;
	background-color: #fff;
	margin-bottom: 20px;
	margin-top: 100px;
	@media (min-width: 767px) {
		margin-top: 150px;
	}
	@include element('top')
	{
		display: flex;
		justify-content: space-between;
		.selected-category{
			color: #E52430;
			text-transform: capitalize;
		}
		.select-category{
			color: #E52430;
			cursor: pointer;
		}
	}
	@include element('content')
	{
		margin-top: 20px;
		.list-icon-wrapper{
			display: flex;
			flex-wrap: wrap;
			.category-icon{
				cursor: pointer;
				width: 50px;
				height: 50px;
				margin-bottom: 20px;
				line-height: 50px;
				margin-right: 20px;
				background-color: #E52430;
				border-radius: 50%;
				color: #fff;
				text-align: center;
			}
		}
	}
}