.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.98);
}

.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #3c7dcf;
  border-radius: 0;
  box-shadow: none;
}

.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #fff;
  border: 0;
  .close{
  	background: #ebf5f8;
  	height: 40px;
  	width: 40px;
  	border-radius: 50%;
  	opacity: 1;
  	font-size: 24px;
  	color: #777777;
  }
}

.modal-title {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}

.modal-body {
  position: absolute;
  top: 90px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
  table{
    margin-top: 30px;
    @media (min-width: 767px) {
      width: 40%;
    }  
  }
  

}


.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
}
