.product{
	background: #fff;
	border: 1px solid #eee;
	border-radius: 10px;
	margin-bottom: 20px;
	@include element('photo')
	{
		padding: 5px 5px 0px 5px;
		img.main{
			width:100%;
			height: 300px;
			@media (min-width: 767px) {
				height: 500px;
			}
		}
		.mini-wrapper{
			display: flex;
			flex-wrap: wrap;
			margin-top: 5px;
			.mini-photo{
				padding: 1px;
				margin-right: 10px;
				cursor: pointer;
				border: 1px solid #e3e3e3;
				img{
					width: 50px;
					height: 50px;
				}
			}
		}
	}
	@include element('description')
	{
		padding: 5px;
		position: relative;
		h5{
			width: 70%;
			line-height: 20px;
			text-transform: capitalize;
			font-size: 16px;
		}
		h6{
			del{
				color: #808080;
			}
			span{
				font-size: 16px;
				color: #F12E34;
			}
		}
		.show-more{
			position: absolute;
			right: 5px;
			top: 15px;
			padding: 5px;
			border-radius: 5px;
			color: #fff;
			background-color: #F12E34;
		}
	}
	@include element('more-description')
	{
		padding: 20px 5px;
	}
	@include element('actions')
	{
		.btn-group-action{
			.btn{
				padding-top: 14px;
				padding-bottom: 14px;
				text-align: center;
				text-transform: uppercase;
				color: #fff;
				font-size: 14px;
				font-weight: bold;
				letter-spacing: 2px;
				background: #fff;
				@include modifier('left')
				{
					border-radius: 0px 0 0 10px;
					background-color: #8D99AE;
				}
				@include modifier('right')
				{
					border-radius: 0 0px 10px 0;
					background-color: #F12E34;;
				}
			}
		}
	}
	@include element('stock')
	{
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		padding: 5px;
		h5{
			text-align: right;
			color: #F12E34;
		}
	}

	@include modifier('empty')
	{
		opacity: 0.5;
	}
}