.top-navigation{
	width: 100%;
	position: fixed;
	z-index: 2;
	background-color: #fff;
	@include element('image')
	{
		height: 50px;
	}

	.action{
		display: flex;
		@media (min-width: 767px)
		{
			padding: 20px 100px;
		}
		@include element('search')
		{
			.form-group{
				.input-group{
					.input-group-addon:first-child{
						background-color: #fff;
						border-right: none;
						border-radius: 10px 0 0 10px;
						border-color: #eee;
					}
					.form-control{
						box-shadow: none;
						border-left: none;
						border-radius: 0 10px 10px 0;
						border-color: #eee;
						@media (min-width: 767px) {
							width: 400px;	
						}
					}
				}
			}
		}
		@include element('chart')
		{
			width: 40px;
			height: 35px;
			border-radius: 10px;
			background-color: #ffffff;
			border: solid 1px #eeeeee;
			margin-left: 10px;
		}
	}
}